@charset "UTF-8";
/*
	// @ Css name：箭头
	// @ Author： matianye@
	// @ Date： 2017-06-22
	//==========================
*/

[class^="m-arrow-"],
[class*="m-arrow-"] {
	position: relative;
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	width: .2rem;
    height: .2rem;
    border: 1px solid #666;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
}
/*[class^="m-arrow-"]:after,
[class*="m-arrow-"]:after {
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: .2rem;
    height: .2rem;
    border: 1px solid #666;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
}*/
.m-arrow-t{
	margin-top: .06rem;
    border-bottom: 0;
    border-right: 0;
}
.m-arrow-r{
    border-bottom: 0;
    border-left: 0;
}
.m-arrow-b{
	margin-top: -.06rem;
    border-top: 0;
    border-left: 0;
}
.m-arrow-l{
    border-top: 0;
    border-right: 0;
}
	




