@charset "utf-8";body{font:.14rem/1.5 'Helvetica Neue',arial,"Microsoft Yahei","微软雅黑",'Hiragino Sans GB',tahoma,sans-serif;color:#333;background:#f5f5f5}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.tc{text-align:center}
.tl{text-align:left}
.tr{text-align:right}
.f12{font-size:.12rem}
.f13{font-size:.13rem}
.f14{font-size:.14rem}
.f16{font-size:.16rem}
.f18{font-size:.18rem}
.f20{font-size:.2rem}
.f22{font-size:.22rem}
.f24{font-size:.24rem}
.f26{font-size:.26rem}
.f28{font-size:.28rem}
.f32{font-size:.32rem!important}
.f38{font-size:.38rem!important}
.f42{font-size:.42rem!important}
i.f12{font-size:.12rem}
i.f13{font-size:.13rem}
i.f14{font-size:.14rem}
i.f16{font-size:.16rem}
i.f18{font-size:.18rem}
i.f20{font-size:.2rem}
i.f22{font-size:.22rem}
i.f24{font-size:.24rem}
i.f26{font-size:.26rem}
i.f28{font-size:.28rem}
i.f32{font-size:.32rem}
i.f34{font-size:.34rem}
i.f36{font-size:.36rem}
i.f38{font-size:.38rem}
i.f42{font-size:.42rem}
.divc{margin:0 auto}
.fb{font-weight:700}
.fwn{font-weight:400}
.dis{display:block}
.fl{float:left}
.fr{float:right}
.clearfix{zoom:1}
.clearfix:after,.clearfix:before{clear:both;content:" ";display:table}
.cl{clear:both;font-size:0;height:0}
.cl10{clear:both;font-size:0;height:.1rem;overflow:hidden}
.cl5{clear:both;font-size:0;height:.5rem;overflow:hidden}
.cl15{clear:both;font-size:0;height:.15rem;overflow:hidden}
.cl20{clear:both;font-size:0;height:.2rem;overflow:hidden}
.cl25{clear:both;font-size:0;height:.25rem;overflow:hidden}
.cl30{clear:both;font-size:0;height:.3rem;overflow:hidden}
.cl40{clear:both;font-size:0;height:.4rem;overflow:hidden}
.cl50{clear:both;font-size:0;height:.5rem;overflow:hidden}
.cl55{clear:both;font-size:0;height:.55rem;overflow:hidden}
.cl80{clear:both;font-size:0;height:.8rem;overflow:hidden;line-height:0}
.cl59{clear:both;font-size:0;height:.59rem;overflow:hidden;line-height:0}
.cl6{clear:both;font-size:0;height:.6rem;overflow:hidden;line-height:0}
.cl90{clear:both;font-size:0;height:.9rem;overflow:hidden;line-height:0}
.cl95{clear:both;font-size:0;height:.95rem;overflow:hidden;line-height:0}
.cl100{clear:both;font-size:0;height:.1rem;overflow:hidden;line-height:0}
.lh2{line-height:2}
.lh1{line-height:1}
.lh15{line-height:1.5}
.lh18{line-height:1.8}
.lh13{line-height:1.3}
.ti2{text-indent:2em}
.ovn{overflow:hidden;zoom:1}
.pr{position:relative}
a{color:#333;text-decoration:none}
a:active{text-decoration:none}
a.more,a.more:link,a.more:visited{font-weight:400;float:right}
a.more:active{text-decoration:none}
.red,a.red,a.red:link,a.red:visited{color:#ff4c61}
.bai,a.bai,a.bai:link,a.bai:visited{color:#fff}
.orange,a.orange,a.orange:link,a.orange:visited{color:#ff7542}
.yellow,a.yellow,a.yellow:link,a.yellow:visited{color:#fabb42}
.blue,a.blue,a.blue:link,a.blue:visited{color:#4c7be8}
.pink,a.pink,a.pink:link,a.pink:visited{color:#eb4185}
.green,a.green,a.green:link,a.green:visited{color:#19ca8e}
.purple,a.purple,a.purple:link,a.purple:visited{color:#7360ff}
.hui,a.hui,a.hui:link,a.hui:visited{color:#888}
a.hui:active{color:#4c7be8}
.qhui,a.qhui,a.qhui:link,a.qhui:visited{color:#999}
a.qhui:active{color:#4c7be8}
.hei{color:#000}
.bgbai{background:#fff}
.bghui{background:#f0f0f0}
.bgqhui{background:#f5f5f5}
.block{display:block}
a.bgb:active{background:#f0f0f0}
a.tdu:active{text-decoration:underline}
.tduu{text-decoration:underline}
.t2{margin-top:.02rem}
.t3{margin-top:.03rem}
.t4{margin-top:.04rem}
.t5{margin-top:.05rem}
.t6{margin-top:.06rem}
.t10{margin-top:.1rem}
.t15{margin-top:.15rem}
.t20{margin-top:.2rem}
.t25{margin-top:.25rem}
.t30{margin-top:.3rem}
.t40{margin-top:.4rem}
.t50{margin-top:.5rem}
.t80{margin-top:.8rem}
.p0{padding:0}
.pl0i{padding-left:0!important;padding-right:0!important}
.pr0{padding-right:0}
.p6{padding:.06rem}
.pl0{padding-left:0}
.p5{padding:.05rem}
.p10{padding:.1rem}
.p15{padding:.15rem}
.p20{padding:.2rem}
.p25{padding:.25rem}
.pl5{padding-left:.5rem}
.pl10{padding-left:.1rem}
.pl15{padding-left:.15rem}
.pl20{padding-left:.2rem}
.pl25{padding-left:.25rem}
.pr5{padding-right:.05rem}
.pr10{padding-right:.1rem}
.pr15{padding-right:.15rem}
.pr20{padding-right:.2rem}
.pr25{padding-right:.25rem}
.pt5{padding-top:.05rem}
.pt10{padding-top:.1rem}
.pt15{padding-top:.15rem}
.pt20{padding-top:.2rem}
.pt25{padding-top:.25rem}
.pb10{padding-bottom:.1rem}
.m0{margin:0}
.ml5{margin-left:.05rem}
.ml10{margin-left:.1rem}
.ml15{margin-left:.15rem}
.ml20{margin-left:.2rem}
.ml25{margin-left:.25rem}
.ml80{margin-left:.8rem}
.ml60{margin-left:.6rem}
.ml50{margin-left:.5rem}
.ml100{margin-left:.1rem}
.mr3{margin-right:.03rem}
.mr5{margin-right:.05rem}
.mr6{margin-right:.06rem}
.mr10{margin-right:.1rem}
.mr15{margin-right:.15rem}
.mr20{margin-right:.2rem}
.mr25{margin-right:.25rem}
.mr30{margin-right:.3rem}
.mr80{margin-right:.8rem}
.mr100{margin-right:.1rem}
.mt10{margin-top:.1rem}
.mt20{margin-top:.2rem}
.wraperh-xs{padding-top:.05rem;padding-bottom:.05rem}
.wraperh{padding-top:.1rem;padding-bottom:.1rem}
.wraperh-sm{padding-top:.15rem;padding-bottom:.15rem}
.wraperh-md{padding-top:.2rem;padding-bottom:.2rem}
.wraperh-lg{padding-top:.4rem;padding-bottom:.4rem}
.wraperl-xs{padding-left:.05rem;padding-right:.05rem}
.wraperl{padding-left:.1rem;padding-right:.1rem}
.wraperl-sm{padding-left:.15rem;padding-right:.15rem}
.wraperl-md{padding-left:.2rem;padding-right:.2rem}
.wraperl-lg{padding-left:.4rem;padding-right:.4rem}
.bbd{border-bottom:1px solid #ddd}
.bld{border-left:1px solid #ddd}
.brd{border-right:1px solid #ddd}
.btd{border-top:1px solid #ddd}
.bbe{border-bottom:1px solid #eee}
.ble{border-left:1px solid #eee}
.bre{border-right:1px solid #eee}
.bte{border-top:1px solid #eee}
.border{border:1px solid #eee}
.borderd{border:1px solid #ddd}
.ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block}
.ellipsis2{overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-all}
.ellipsis3{overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;word-break:break-all}
.circle{border-radius:100%}
.lh30{line-height:.3px}
.iblock{display:inline-block;vertical-align:middle}
.op:active{opacity:.8;filter:alpha(opacity=80)}
.transition{-webkit-transition:all .2s linear 0s;-o-transition:all .2s linear 0s;transition:all .2s linear 0s}
.flex-vtop{-webkit-align-items:flex-start;-moz-box-align:start;-ms-flex-align:start;align-items:flex-start}
.flex-vbottom{-webkit-align-items:flex-end;-moz-box-align:end;-ms-flex-align:end;align-items:flex-end}
.container{padding-left:.15rem;padding-right:.15rem}
.container-bai{background:#fff;padding-left:.15rem;padding-right:.15rem}
.pull-in{margin-left:-.15rem;margin-right:-.15rem}
.baibox{background:#fff}
.weui-btn i{height:18px;line-height:18px;vertical-align:middle}
.weui-btn_blue{background-color:#4c7be8}
.weui-btn_blue:not(.weui-btn_disabled):visited{color:#fff}
.weui-btn_blue:not(.weui-btn_disabled):active{color:rgba(255,255,255,.6);background-color:#799cee}
.weui-btn_disabled.weui-btn_blue{background-color:#799cee}
.weui-btn_loading.weui-btn_blue,.weui-btn_loading.weui-btn_warn{color:rgba(255,255,255,.6)}
.weui-btn_loading.weui-btn_blue{background-color:#799cee}
.weui-btn_plain-blue{color:#4c7be8;border:1px solid #4c7be8}
.weui-btn_plain-blue:not(.weui-btn_plain-disabled):active{color:#799cee;border-color:#799cee}
.weui-btn_plain-blue:after{border-width:0}
.weui-tabbar-fixed-blank{height:.5rem}
.weui-tabbar-fixed{position:fixed}
.weui-tabbar-fixed i.iconfont{line-height:.27rem}
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon,.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon>i,.weui-tabbar__item.weui-bar__item_on .weui-tabbar__label{color:#4c7be8}
table{border-spacing:0;border-collapse:collapse}
table{background-color:transparent}
caption{padding-top:8px;padding-bottom:8px;color:#777;text-align:left}
th{text-align:left}
.table{width:100%;max-width:100%}
.table-middle td,.table-middle th{vertical-align:middle!important}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd}
.table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #ddd}
.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th{border-top:0}
.table>tbody+tbody{border-top:2px solid #ddd}
.table .table{background-color:#fff}
.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{padding:5px}
.table-bordered{border:1px solid #ddd}
.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{border:1px solid #ddd}
.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{border-bottom-width:2px}
.table-striped>tbody>tr:nth-of-type(odd){background-color:#f9f9f9}
.table-hover>tbody>tr:hover{background-color:#f5f5f5}
table col[class*=col-]{position:static;float:none;display:table-column}
table td[class*=col-],table th[class*=col-]{position:static;float:none;display:table-cell}
.table>tbody>tr.active>td,.table>tbody>tr.active>th,.table>tbody>tr>td.active,.table>tbody>tr>th.active,.table>tfoot>tr.active>td,.table>tfoot>tr.active>th,.table>tfoot>tr>td.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>thead>tr.active>th,.table>thead>tr>td.active,.table>thead>tr>th.active{background-color:#f5f5f5}
.table-hover>tbody>tr.active:hover>td,.table-hover>tbody>tr.active:hover>th,.table-hover>tbody>tr:hover>.active,.table-hover>tbody>tr>td.active:hover,.table-hover>tbody>tr>th.active:hover{background-color:#e8e8e8}
.table>tbody>tr.success>td,.table>tbody>tr.success>th,.table>tbody>tr>td.success,.table>tbody>tr>th.success,.table>tfoot>tr.success>td,.table>tfoot>tr.success>th,.table>tfoot>tr>td.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>thead>tr.success>th,.table>thead>tr>td.success,.table>thead>tr>th.success{background-color:#dff0d8}
.table-hover>tbody>tr.success:hover>td,.table-hover>tbody>tr.success:hover>th,.table-hover>tbody>tr:hover>.success,.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover{background-color:#d0e9c6}
.table>tbody>tr.info>td,.table>tbody>tr.info>th,.table>tbody>tr>td.info,.table>tbody>tr>th.info,.table>tfoot>tr.info>td,.table>tfoot>tr.info>th,.table>tfoot>tr>td.info,.table>tfoot>tr>th.info,.table>thead>tr.info>td,.table>thead>tr.info>th,.table>thead>tr>td.info,.table>thead>tr>th.info{background-color:#d9edf7}
.table-hover>tbody>tr.info:hover>td,.table-hover>tbody>tr.info:hover>th,.table-hover>tbody>tr:hover>.info,.table-hover>tbody>tr>td.info:hover,.table-hover>tbody>tr>th.info:hover{background-color:#c4e3f3}
.table>tbody>tr.warning>td,.table>tbody>tr.warning>th,.table>tbody>tr>td.warning,.table>tbody>tr>th.warning,.table>tfoot>tr.warning>td,.table>tfoot>tr.warning>th,.table>tfoot>tr>td.warning,.table>tfoot>tr>th.warning,.table>thead>tr.warning>td,.table>thead>tr.warning>th,.table>thead>tr>td.warning,.table>thead>tr>th.warning{background-color:#fcf8e3}
.table-hover>tbody>tr.warning:hover>td,.table-hover>tbody>tr.warning:hover>th,.table-hover>tbody>tr:hover>.warning,.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover{background-color:#faf2cc}
.table>tbody>tr.danger>td,.table>tbody>tr.danger>th,.table>tbody>tr>td.danger,.table>tbody>tr>th.danger,.table>tfoot>tr.danger>td,.table>tfoot>tr.danger>th,.table>tfoot>tr>td.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>thead>tr.danger>th,.table>thead>tr>td.danger,.table>thead>tr>th.danger{background-color:#f2dede}
.table-hover>tbody>tr.danger:hover>td,.table-hover>tbody>tr.danger:hover>th,.table-hover>tbody>tr:hover>.danger,.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover{background-color:#ebcccc}
.table-responsive{overflow-x:auto;min-height:.01%}
@font-face{font-family:iconfont;src:url(http://at.alicdn.com/t/font_xd6646us7j3mobt9.eot?t=1498449848115);src:url(http://at.alicdn.com/t/font_xd6646us7j3mobt9.eot?t=1498449848115#iefix) format('embedded-opentype'),url(http://at.alicdn.com/t/font_xd6646us7j3mobt9.woff?t=1498449848115) format('woff'),url(http://at.alicdn.com/t/font_xd6646us7j3mobt9.ttf?t=1498449848115) format('truetype'),url(http://at.alicdn.com/t/font_xd6646us7j3mobt9.svg?t=1498449848115#iconfont) format('svg')}
.iconfont{font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.iconfont{font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.logo{margin:0 .5rem;color:#404040;float:none;font-size:.18rem}
.logo img{height:.34rem}
.bread{position:fixed;top:0;left:0;width:100%;z-index:999;height:.54rem;line-height:.54rem;background:#fff;color:#fff;overflow:hidden}
.bread .tip{color:#404040;font-size:.16rem;position:absolute;padding:0 .1rem}
.bread .tip:active{text-decoration:none;color:#a0a0a0}
.bread .tip.l{left:0;top:0}
.bread .tip.r{right:0;top:0}
.bread i{height:.54rem;line-height:.54rem;overflow:hidden;display:inline-block;vertical-align:middle}
.bread .menu:before{content:"\e654"}
.bread .menu.opend:before{content:"\e655"}
.bread-blank{height:.54rem}
body{position:relative;height:100%}
.weui-footer{margin-top:0;padding-top:.1rem;padding-bottom:.1rem}
.weui-footer p{margin: 0;}
.top-banner{width:100%;margin-bottom:.1rem}
.top-banner img{width:100%;display:block}
.index-main{width:3.46rem;margin:0 auto}
.index-main .live-title{font-size:.21rem;font-weight:700;text-align:center;margin:.2rem 0}
.index-main .live-photoStyle li{float:left;width:1.69rem;height:1.87rem;background-color:#fff;list-style:none;margin-bottom:.09rem;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;box-shadow:0 0 5px 2px #dcdfe2;border-radius:5px;overflow:hidden}
.index-main .live-photoStyle li:nth-of-type(2n){float:right}
.index-main .live-photoStyle li a{display:block;width:1.69rem;height:1.87rem}
.index-main .live-photoStyle li a .style-top{width:100%;height:1.1rem;overflow:hidden}
.index-main .live-photoStyle li a .style-top img{width:100%;min-height:1.1rem}
.index-main .live-photoStyle li a .style-bottom h3{padding:0 .1rem;font-size:.16rem;margin-top:.15rem;margin-bottom:.06rem}
.index-main .live-photoStyle li a .style-bottom p{color:#acb0b5}
.index-main .live-photoStyle li a .style-bottom p span.fr{margin:0 .04rem}
.index-main .live-photoStyle li a .style-bottom p span.fl{margin:0 .04rem}
.index-main .live-photoStyle li a .style-bottom p span i.iconfont{font-size:.14rem}
.index-main .live-photoStyle li a .style-bottom p span.eyes i{vertical-align:middle}
